@{
    ViewData["Title"] = "Online Bookstore";
}
@model IQueryable<Project>

<header>

</header>
@foreach (var x in Model)
{
<div>
    <h4>Book Title: @x.Title</h4>
    <h5>Author: @x.AuthorFirst @x.AuthorMiddle @x.AuthorLast </h5>
    <p>Publisher: @x.Publisher</p>
    <p>ISBN: @x.ISBN</p>
    <p>Category: @x.Category</p>
    <p>Classification: @x.Classification</p>
    <p>Price: @x.Price</p>
</div>
}
